### Applied Statistics

#### For StudentData.xlsx, calculate the mean, mode, median, standard deviation and variance through python scripting.

In [1]:
# Import libraries

import numpy as np
import pandas as pd

In [2]:
# Import data

#Student_Data = pd.read_excel(r"E:\Datasets\StudentData.xlsx")

Student_Data = pd.DataFrame({"Roll No.":[1,2,3,4,5,6,7,8,9,10],
                            "Age":[21, 21, 21, 21, 22, 21, 22, 23, 22, 21],
                             "CGPA/10": [9.5, 9.1, 6.7, 7.7, 8.3, 9.2, 6.9, 6.1, 5.8, 5.5]})

In [3]:
Student_Data.head()

   Roll No.  Age  CGPA/10
0         1   21      9.5
1         2   21      9.1
2         3   21      6.7
3         4   21      7.7
4         5   22      8.3

In [4]:
Student_Data.set_index('Roll No.', inplace = True)

Student_Data.head(3)

          Age  CGPA/10
Roll No.
1          21      9.5
2          21      9.1
3          21      6.7

In [5]:
Student_Data.tail(2)

          Age  CGPA/10
Roll No.
9          22      5.8
10         21      5.5

#### Mean, Mode and Median

In [6]:
# Mean, Mode and Median of 'Age' column
print("Mean of 'Age' column is: ", Student_Data['Age'].mean())
print("Mode of 'Age' column is: ", Student_Data['Age'].mode()[0])
print("Median of 'Age' column is: ", Student_Data['Age'].median())

Mean of 'Age' column is:  21.5
Mode of 'Age' column is:  21
Median of 'Age' column is:  21.0

In [7]:
# Mean of 'CGPA/10' column
"Mean of 'CGPA/10' column is: {:.2f}".format(Student_Data['CGPA/10'].mean())

"Mean of 'CGPA/10' column is: 7.48"

In [8]:
# Mode and Median of 'CGPA/10' column
print("Mode of 'CGPA/10' column is: {}".format(Student_Data['CGPA/10'].mode()[0]))
print("Median of 'CGPA/10' column is: {:.1f}".format(Student_Data['CGPA/10'].median()))

Mode of 'CGPA/10' column is: 5.5
Median of 'CGPA/10' column is: 7.3

##### General Statistics of dataframe

In [9]:
Student_Data.describe()

             Age    CGPA/10
count  10.000000  10.000000
mean   21.500000   7.480000
std     0.707107   1.489817
min    21.000000   5.500000
25%    21.000000   6.250000
50%    21.000000   7.300000
75%    22.000000   8.900000
max    23.000000   9.500000

#### Standard Deviation and Variance

In [10]:
Student_Data.std()

Age        0.707107
CGPA/10    1.489817
dtype: float64

In [11]:
Student_Data.var()

Age        0.500000
CGPA/10    2.219556
dtype: float64